<br />
<div class="row" style="text-align:center">
    <div class="col-lg-3" style="">
        <div class="row">
            <a href="../Cliente/Index"><img src="~/images/clientes.png" width="200" height="200" /></a>
        </div>
        <span>Cadastro de Clientes</span>
    </div>
    <div class="col-lg-3" style="">
        <div class="row">
            <a href="../Vendedor/Index"><img src="~/images/vendedores.png" width="200" height="200" /></a>
        </div>
        <span>Cadastro de Vendedores</span>
    </div>
    <div class="col-lg-3" style="">
        <div class="row">
            <a href="../Produto/Index"><img src="~/images/produtos.png" width="200" height="200" /></a>
        </div>
        <span>Cadastro de Produtos</span>
    </div>
</div>
<br />
<div class="row" style="text-align:center">
    <div class="col-lg-3" style="">
        <div class="row">
            <a href="../Venda/Index"><img src="~/images/vendas.png" width="200" height="200" /></a>
        </div>        
            <span style="text-align:center; padding-left:25px">Registro de Vendas</span>       
    </div>
    <div class="col-lg-3" style="">
        <div class="row">
            <a href="../Relatorio/Index"><img src="~/images/relatorios.png" width="200" height="200" /></a>
        </div>
        <span>Relatórios</span>
    </div>
    <div class="col-lg-3" style="">
        <div class="row">
            <img src="~/images/configuracoes.png" width="200" height="200" />
        </div>
        <span>Configurações</span>
    </div>
</div>
