<h2>Registro excluído com sucesso!</h2>

<button type="button" class="btn btn-block btn-success" onclick="retornarParaListagem()">Retornar para listagem</button>

<script>

    function retornarParaListagem() {
        window.location.href = "../../Vendedor/Index/"
    }

</script>