@model ProdutoModel

<h3>Produto excluído com sucesso!</h3>

<button type="button" class="btn btn-success" onclick="OK()">OK</button>

<script>

    function OK() {
        window.location.href = '../../Produto/Index'
    }

</script>

